body {
    background-image: url('../fotos/fondotres.jpeg');
    background-size: cover;
    font-size: 25px;
    color: paleturquoise;
    background-color: blue;


}

.titulo {
    color: gray; 
    background-color: black;
    text-align: center;
    border-style: solid;
}

.texto {
    text-align: center;
    color: mediumblue;

}

.imagen {
    display: block;
    margin: 10px auto;
    width: 30%; }

.boton {
    display: block;
    text-align: center;
    color: gray; 

}