body {
    text-align: center;
    background-image: url('../fotos/amochiqui.jpeg');
    background-size: cover;background-repeat: no-repeat;
    color:greenyellow
}

.titulo {
    color: red;
    font-size: 30px;
    border: 10px double #ffd700;
}

.texto {
    font-size: 20px;
}

.links a {
    color: yellow;
    display: block;
    font-size: 20px;
    text-decoration: none;
}

